{% extends "base.html.twig" %}
{% block title %} Customer Registration {% endblock %}
{% block body %}

    <div class="top-content">
        <div class="container">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    {{ form_start(registration, {'attr': {'class': 'f1'} }) }}
                        <h3>Customer Registration</h3>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                <p>Personal details</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                <p>Address details</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                                <p>Payment details</p>
                            </div>
                        </div>

                        <fieldset>
                            <h4>Tell us who you are:</h4>
                            <div class="form-group">
                                <label class="sr-only" for="f1-first-name">First name</label>
                                {{ form_row(registration.customer.first_name) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-last-name">Last name</label>
                                {{ form_row(registration.customer.last_name) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-about-yourself">About yourself</label>
                                {{ form_row(registration.customer.telephone) }}
                            </div>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Set up your account:</h4>
                            <div class="form-group">
                                <label class="sr-only" for="f1-email">Email</label>
                                {{ form_row(registration.address.street_name) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-password">Password</label>
                                {{ form_row(registration.address.house_number) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                {{ form_row(registration.address.zip_code) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                {{ form_row(registration.address.city) }}
                            </div>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Bank Account:</h4>
                            <div class="form-group">
                                <label class="sr-only" for="f1-facebook">Facebook</label>
                                {{ form_row(registration.payment.owner) }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-twitter">Twitter</label>
                                {{ form_row(registration.payment.iban) }}
                            </div>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="submit" class="btn btn-submit">Submit</button>
                            </div>
                        </fieldset>
                    {{ form_end(registration) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
