<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ asset('web/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('web/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('web/css/form-elements.css')}}">
    <link rel="stylesheet" href="{{ asset('web/css/style.css')}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

</head>
<body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        <!-- Javascript -->
        <script src="{{ asset('web/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{ asset('web/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('web/js/jquery.backstretch.min.js')}}"></script>
        <script src="{{ asset('web/js/retina-1.1.0.min.js')}}"></script>
        <script src="{{ asset('web/js/scripts.js')}}"></script>

        <!--[if lt IE 10]>
        <script src="{{ asset('web/js/placeholder.js')}}"></script>
        <![endif]-->
    {% endblock %}
</body>
</html>
